body {
    margin: 0;
    height: 100vh;
    background: url("https://wallpapercave.com/wp/wp7796816.jpg") no-repeat center center/cover; 
    display: flex;
    justify-content: center;
    font-family:'Quicksand',sans-serif;
}

.search-container {
    text-align: center;
}

.engine-name {
    color:#F5F7FA;
    text-shadow: 
    0 0 10px rgba(179, 157, 219, 0.8),
    0 0 20px rgba(179, 157, 219, 0.6);
    font-size: 64px;
    margin-bottom: 30px;
    letter-spacing: 9px;
    font-family:'Quicksand',sans-serif;
}

.search-box input {
    width: 450px;
    font-size: 16px;
    background: rgba(255,255,255,0.9);
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border: none;
    outline: none;
}

.search-box button {
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(135deg, #A18CD1, #FBC2EB);
    color: white;
    border-radius: 25px;
}
